ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.icon {
  font-size: 17px;
  transition: $transition;

  &:hover {
    color: $btn-color;
  }
} 

.main-container {
  display: flex;
}

.link {
  text-decoration: none;
  color: $option-text-color;
  transition: $transition;
  
  &:hover {
    color: $btn-color;
  }
}

.title {
  margin-left: 20px;
}

.value {
  color: $sidebar-color;
}

.stat-title {
  font-weight: bold;
}

.btn {
  background-color: $btn-color;
  border: 2px solid $btn-color;
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  color: $main-color;
  padding: 10px;
  transition: $transition;

  &:hover {
    color: $btn-color;
    background-color: $main-color;
  }
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  height: 100vh;
  width: 15%;
  background-color: $sidebar-color;
  color: $main-text-color;
    
  h2 {
    color: $main-color;
    font-family: $logo-font;
    font-size: 42px;
    font-weight: 100;
    margin: 20px 0 0 20px;

    i {
      font-size: 30px;
      margin-left: 50px;
      color: $main-text-color;
    }
  }

  .sidebar-menu {
    margin-left: 20px;

    .sb-nav-link {
      margin-left: 15px;
    }

    li {
      margin-bottom: 30px;
    }
  }

  .manager {
    padding: 0 30px;
    font-size: 15px;
    border-top: solid $main-text-color 1px;

    .manager-list {
      display: flex;
      margin: auto;
      align-items: center;

      .manager-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      a {
        margin-left: 10px;
      }
    }
  }  
}

/* CONTENT CONTAINER */

.content-container {
  width: 85%;
  margin-left: 15%;
}
  
.topbar {    
  position: fixed;
  background-color: $main-color;
  display: flex;
  justify-content: flex-end;
  width: 85%;
  border-bottom: solid $main-text-color 1px;

  .topbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;      
  }
}

.topbar-item {
  margin: auto;
  border-left: solid $main-text-color 1px;
  padding: 10px 0;

  .link {
    margin-right: 20px;
  }

  i {
    margin: 0 20px;
  }
}

.main-side {
  padding: 15px;
  margin-top: 45px;

  .title {
    padding-top: 10px;
  }
}

.general {
  background-color: $main-color; 
}     

.general-date-picker {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 40px;
  border-top: solid $main-text-color 1px;

  .date-picker {
    padding: 3px 0 2px 0;
    border: 1px $main-text-color solid;
    margin: 10px;

    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
    }

    input {
      background: none;
      border: none;
      width: 130px;
      height: 35px;
      margin: 0;
      outline: 0;
      padding-left: 10px;
    }    

    .date-to {
      border-left: solid $main-text-color 1px;   
       
    }

    .icon {
      margin-right: 10px;
    }
  }
}

.stats {
  display: flex;
  justify-content: space-between;
  border-top: solid $main-text-color 1px;

  .stat-box {
    display: flex;
    flex-direction: column;
    width: 45%;

    .stat-details {
      margin: 20px;
      border-bottom: solid $main-text-color 1px;
      display: flex;
      justify-content: space-between;
    }
  }

  .stat-left {
    padding-left: 20%;
  }

  .stat-right {
    padding-right: 20%;
  }
}

.stats-chart {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}  

.links {
  margin-top: 20px;
  background-color: $main-color;
}

.links-table {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  border-top: solid $main-text-color 1px;

  .btn-add-new {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
}

.link-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
  border-top: solid $main-text-color 1px;
          
  .stat-title, .icon {
    margin: 5px 0;
    padding: 0;
  }

  .stat-title {
    margin-left: 10px;
    width: 40%;
  }
  
  .link {        
    width: 50%;
  }

  .icon {
    width: 5%;
    display: none;
  }

  &:hover {
    background-color: $background-color;
    cursor: pointer;

    .icon {
      display: inherit;  
    }
  }
}

.last-link {
  border-bottom: solid $main-text-color 1px;
}
