.table-container {
  border-top: solid $main-text-color 1px;
  padding: 20px;
}

thead {
  color: $main-text-color;

  .table-label {
    &:hover {
      background-color: $background-color;
    }        
  }    
}

.table:hover {
  cursor: pointer;
}
