.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  width: 70%;
  min-width: 700px;
}

@media (max-width: 425px) {  
  .general-container .stats {
    flex-direction: column;
      
    .stat-box {
      margin: 0 7%;
      width: 84%;
    }
      
    .stat-details {
      margin: 0;  
    }
  }
}  
