.stats {
  display: flex;
  justify-content: space-between;
  border-top: solid $main-text-color 1px;
  padding: 0 20%;
    
  .stat-box {
    display: flex;
    flex-direction: column;
    width: 45%;
      
    .stat-details {
      margin: 20px;
      border-bottom: solid $main-text-color 1px;
      display: flex;
      justify-content: space-between;
    }
    
    .value {
      color: $sidebar-color;
    }
  }
}

.links-table {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
    
  .link-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    border-top: solid $main-text-color 1px;
  
    .stat-title, .icon {
      margin: 5px 0;
      padding: 0;
    }
      
    .stat-title {
      margin-left: 10px;
      width: 40%;
    }
          
    .link {        
      width: 50%;
    }
      
    .link-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;  // [Work in progress]
      width: 20%;
  
      .icon {
        margin-right: 10px;
        display: none;
      }
    }
        
    &:hover {
      background-color: $background-color;
      cursor: pointer;
    
      .icon {
        display: inherit;  
      }
    }
  
    .link-icons {
      display: flex;
      flex-direction: row;
    }
  }
  
  .last-link {
    border-bottom: solid $main-text-color 1px;
  }
}

/* MEDIA */

@media (max-width: 1179px) {
  .links-table {
    padding: 0 10%;
  }
}

@media (max-width: 991px) {
  .stats {
    padding: 0;
  }   
    
  .links-table {
    padding: 0 2%;
  }  
}

@media (max-width: 767px) {
  .links-table {
    padding: 0 2%;
  }
}

@media (max-width: 599px) {
  .links-list {
    display: flex;
    text-align: center;
    justify-content: center;

    ul {
      width: 90%;

      .link-item {
        flex-direction: column;

        .stat-title {
          margin-left: 0;
          width: 100%;
        }

        .link {
          padding-top: 10px;
          width: 100%;
          //display: none;
          justify-content: center;
          font-size: 13px;
        }
    
        &:hover .link {
          display: inherit; 
        }
        
        .link-icons {
          padding-top: 10px;
          justify-content: space-around;
          width: 100%;  
        }        
      }
    }
  }
}