.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 15px 15px 250px;

  .box {
    background-color: $main-color;
    margin-top: 20px;
  }

  .general-container {
    background-color: $main-color;
    margin-top: 60px;
  }
}

.title-container {
  border-bottom: solid $main-text-color 1px;

  .title {
    margin-left: 10px;
  }
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  min-width: 500px;

  img {
    height: auto;
    max-width: 100%;
    display: block;      
  }
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

/* MEDIA */

@media (max-width: 767px) {
  .main-container {
    padding: 1%;

    .general-container {
      margin-top: 0;
    }
  }
}

@media (max-width: 425px) {
  .main-container {
    .box {
      margin-top: 10px;
    }

    .general-container {
      margin-top: 50px;

      .btn-date-picker {
        display: flex;
        align-items: center;
      }      
    }
  }
}
