/* Colors */
$sidebar-color: #161515;
$main-text-color: rgb(131, 131, 131);
$text-color: rgb(255, 255, 255);
$btn-color: #ff8800;



/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */

$logo-font: "Just Another Hand", cursive;
$text-font: "Roboto", sans-serif;
