/* Colors */
$sidebar-color: #161515;
$main-text-color: rgb(165, 165, 165);
$background-color: rgb(211, 211, 211);
$main-color: rgb(255, 255, 255);
$option-text-color: rgb(138, 160, 192);
$btn-color: #ff8800;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: "Just Another Hand", cursive;
$text-font: "Roboto", sans-serif;
