/* Colors */
$sidebar-color: #161515d7;
$brand-main-color: #ff8800;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
