.btn {
  background-color: $btn-color;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 10px;
  font-size: 14px;
  color: $main-color;
  padding: 10px;
  transition: $transition;
  
  &:hover {
    background-color: $btn-hover-color;
    cursor: pointer;
  }
}

.btn-middle {
  display: flex;
  justify-content: center;
  padding: 30px;
}

@media (max-width: 425px) {
  .btn-date-picker {
    display: flex;
    align-items: center;
  } 
}