.icon {
  margin-right: 10px;
  font-size: 17px;
  transition: $transition;
  
  &:hover {
    color: $btn-color;
    cursor: pointer;
  }
}

/* MEDIA */

@media (max-width: 425px) {
  .links-table .link-item .link-icons .icon {
    font-size: 24px;   
  }
}