.manager-container {
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  
  .manager-list {
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
 
    .manager-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .green-dot {
      position: absolute;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: $online-color;
      top: 1px;
      left: 30px;
    }
  
    .manager-name {
      margin-left: 10px;
      color: $option-text-color;
    }
  }
}